#cloud-config
# Hostname management
preserve_hostname: False
hostname: ${hostname}
fqdn: ${fqdn}
# Allow login root account
ssh_pwauth: True
disable_root: false
network:
  config: disabled
users:
  - name: root
    homedir: /root
    passwd: $6$vrl7V5Lg2NlgzgoR$0N6fpvPYH0po9oALfmBVZrCMyYjSl.Rb6OBpllrobYEYxSek5IFU3XfeJSQ2dSXZLLHU0cQzKuDX8dkh7fXVy1
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCzdYBqsyEe+NeYgD5DTcCLUMNQEbNclljhilk5AHM4kgGO34YmTNM6I1+UWQ8aWo2A7VaWENp+0NszAiatAXHWX3A5JZWSW7Y6ApX1AWymDy6Ex5zvNxkE4ZUqnK8OkHjtfuhTACNE4f8gtfQL0xZpNgrD4ET7LfTrUIetJYuTcEjpgM8t6J47sOGSuuwn9/O2DOZvepOy6Om9d/KvkavCOKm4aaA9RQedDlkrUJTgZ+Tq1tQ9EFai14CwMj64LcKsSS524DoTjMLPEREoWU3M/jKw+SpWIkC9Ikm7kFg1G5oEku8rr6hbESaxtUC+ERRhOkpH+tj6n+fJWCYGTooZ6cOi5Z9yT0u+YwqdrOKROUjazz6YiMxMcBMwtjzm3nmZqzg+VeHrNHOgR60X2KvPQzWFXoBhYuVk/bRvc6vRyK+7TwdcgPfBro+OVPz1OGq99/GjfTltYHIHlYoHEWYvNdpsWD25ACCf9LjjxBgvadjI3R/Bm5NkNUp+HbCASxc= root@xeon.edu.local
runcmd:
  - nmcli con mod "System eth0" +ip4 ${ip}/${mask} +gw4 ${gw} +ipv4.dns ${gw} +connection.id "eth0" +ipv4.method manual
  - touch /etc/cloud/cloud-init.disabled
  - systemctl enable --now qemu-guest-agent
